section {
    text-align: center;
}

pre,
time {
    display: inline-block;
    background: var(--charcoal);
    padding: 1px 8px;
    font-family: monospace;
    border-radius: 2px;
}

p {
    font-size: 14px;
    display: block;
    aspect-ratio: unset;
}

a {
    color: var(--beige);
}